<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF=8"/>

    <!--top css-->
    <style>

      .hr1{
        width:60%;
      }

        main {
          display:flex;
          width: 100%;
        }
          .sidebar2{
            width:20%;
          }
          .new-area {
            margin: 13px 336px 0px 327px;
            background-color: white;
            width:59%;
          }
            .blog-area {
            }
              .blog{
                margin: 20px;
                border: solid;
                border-color: black;
                /*角を丸くする*/
                border-radius:10px;
              }
                .blog .hr1{
                  width:95%;
                }
                .top-header {
                  background-color:white;
                  position:  relative;
                  height:185px;
                }
                  .blog-time{
                    position:  absolute;
                    top: 5px;
                    left: 30px;
                  }
                  .blog-title{
                    position:  absolute;
                    top: 20%;
                    left: 6%;
                    width: 94%;
                  }
                  .blog-genre{
                    position:  absolute;
                    right: 30px;
                    top: 11px;
                  }
                  .blog-user{
                    position:  absolute;
                    bottom: 1px;
                    left: 30px;
                  }

                  .blog-pv {
                      position:absolute;
                      bottom: -2px;
                      right: 28px;
                    }

              .blog-body {
                margin: 27px;
                }

              .button-area{
                position:  relative;
                height: 90px;
                display: flex;
              }
                .button1 {
                  position:  absolute;
                  bottom:32px;
                  right:30px;
                }
                .button2 {
                  position:  absolute;
                  bottom:32px;
                  right:100px;
                }
                .user {
                  position: absolute;
                  left: 30px;
                  top: 20px;
                  text-decoration:underline;
                }

                @media (max-width: 599px){
                    .new-area{
                      margin: 13px 0px 0px 0px;
                      background-color: white;
                      width: 75%;
                      display: flex;
                    }
                    .blog{
                      margin:0px;
                      border: solid;
                      border-color: black;
                      /*角を丸くする*/
                      border-radius:10px;
                    }

                    .top-header {
                        background-color: white;
                        position: relative;
                        height: 260px;
                    }
                    .blog-time{
                    position:  absolute;
                    top: 5px;
                    left: 15px;
                  }
                  .blog-title{
                    position:  absolute;
                    position: absolute;
                    top: 14%;
                    left: 6%;
                    width: 93%;
                    height: 60%;
                  }
                  .blog-genre{
                    position:  absolute;
                    left: 15px;
                    top: 30px;
                  }
                  .blog-user{
                    position:  absolute;
                    bottom: 1px;
                    left: 12px;
                  }

                  .blog-pv {
                      position:absolute;
                      bottom: 24px;
                      left: 15px;
                    }

                    .user {
                        position: absolute;
                        left: 10px;
                        top: 1px;
                    }
                }
    </style>
  </head>

  <body>
    <main>
      <div class="sidebar1">
        <div class="sidebar-area">
        </div>
      </div>

      <!-- main-area -->
      <div class="new-area">

        <!--blog-->
        <div class="blog-area">
          <div class="blog">

            <div class="top-header">

              <!--タイトル-->
              <div class="blog-title">
                <h1><%= @blog.title %></h1>
              </div>

              <div class="blog-pv">
                <strong>閲覧数 : </strong><%= @blog.impressionist_count %>
              </div>

              <!--投稿日-->
              <div class="blog-time">
                <strong>投稿日:</strong><%= @blog.created_at.strftime('%Y/%m/%d') %>
              </div>

              <!--ジャンル-->
              <div class="blog-genre">
                <% if @blog.genre.present? %>
                  <strong>ジャンル: </strong><%= @blog.genre.name %>
                <% end %>
              </div>

              <!-- 投稿者 -->
              <div class="blog-user">
                <% if @blog&.user&.mark %>
                  ✅管理者:<strong><%= @blog.user.name %></strong>
                <% else %>
                  <strong>投稿者:<%= @blog.user.name %></strong>
                <% end %>
              </div>
            </div>

            <hr class="hr1">

            <div class="blog-body">
              <%= @blog.content %>
            </div>

            <hr class="hr1">

            <!--ボタン-->
            <div class="button-area">
              <% if @blog.user == current_user  %>
                <div class="button1">
                  <%= link_to "編集", edit_user_blog_path(@blog.id) %>
                </div>

                <div class="button2">
                  <%= button_to "削除", user_blog_path(@blog.id), method: :delete %>
                </div>
              <% elsif admin_signed_in? %>
                <div class="button2">
                  <%= button_to "削除", admin_blog_path(@blog.id), method: :delete %>
                </div>
              <% end %>


              <div class="user">
                <%= link_to customer_path(@blog.user) do %>
                  <% if @blog&.user&.mark %>
                    ✅管理者:<strong><%= @blog.user.name %>  投稿一覧</strong>
                  <% else %>
                    <strong><%= @blog.user.name %>  投稿一覧</strong>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>

        </div>
      </div>

      <!--sidebar-->
      <div class="sidebar2">
        <div class="sidebar-area">
        </div>
      </div>

    </main>
  </body>
</html>

