<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF=8"/>
    <title></title>

    <!--top css-->
    <style>
      .top-header h1 {
        color: black;
        text-align:center;
        background-color:white;
      }

      .hr1{
        width:60%;
      }

        main {
          display:flex;
          width: 100%;
        }
          .main-area {
            width: 78%;
          }
            .text_area {
              height:500px;
            }

            .new-area {
              margin:20px;
              background-color: white;
            }
              .new-item {
                background-color:white;
                margin: 25px 10px 0px 20px;;
              }
          .new-button > .button {
            background-color:blue;
          }

          .sidebar{
            width:20%;
          }
            .sidebar-area{
              margin:20px;
              background-color:white;
            }

    </style>
  </head>

  <body>
    <main>
      <!-- main-area -->
      <div class="main-area">
        <!--blog-->
        <div class="new-area">
          <div class="new">

            <div class="top-header">
              <h1>New genre</h1>
            </div>

            <hr class="hr1">

            <p>
            <div class="field">
              <%= form_with model: @genre, url: admin_genres_path, local: true do |f| %>
              <%= f.label :Genre %>
              <%= f.text_field :name, outofocus: true, autocomplete: "name" %>
              <%= f.submit "追加" %>
              <% end %>
            </div>
            </p>

            <p>
            <table>
              <thead><th>Genle</th>
                      <th></th>
                      <th></th>
              </thead>
              <% @genres.each do |genre| %>
              <tbody>
                  <td><%= genre.name %></td>
                    <td><%= button_to "編集する", edit_admin_genre_path(genre.id) %></td>
                    <td><%= button_to "削除する", admin_genre_path(genre.id), method: :delete %></td>
                </tbody>
                <% end %>
            </table>
            </p>

          </div>
        </div>

      </div>

      <hr class="hr2">
      <!--sidebar-->
      <div class="sidebar">
        <div class="sidebar-area">

          <div class="item">
          </div>

        </div>
      </div>

    </main>
  </body>
</html>



